<div class="page-header">
  <h2>
    吹水台
  </h2>
</div>

<table class="table table-striped">
<tr>
  <th>評分</th>
  <th>題目</th> 
  <th>作者</th>
  <th>回覆</th>
  <th>最後回覆</th>
</tr>
<tr ng-repeat="topic in topics">
  <td>{{topic.rating}}</td>
  <td>
    <a ui-sref='post({messageId: topic.messageId, page: 1})'>{{topic.messageTitle}}</a>
    <span ng-repeat="page in topic.pages">
      <a ui-sref='post({messageId: topic.messageId, page: page})'>[{{page}}]</a>
    </span>
  </td>
  <td>{{topic.authorName}}</td>
  <td>{{topic.totalReplies}}</td>
  <td>{{topic.lastReplyDateString}}</td>
</tr>
</table>
<nav>
  <ul class="pagination">
    <li ng-hide="hidePrev">
      <a ui-sref='topics({page: prevPage})' aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li>
      <a ui-sref='topics({page: nextPage})' aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>