<a class="btn btn-warning" ui-sref='topics({page:1})'>Home</a>
<h1>
  {{vm.post.messageTitle}}
  <span class="badge badge-success">Good: {{vm.post.ratingGood}}</span>
  <span class="badge badge-error">Bad: {{vm.post.ratingBad}}</span>
</h1>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="message in vm.post.messages">
    <div><h4><span ng-class="{'M':'label-primary', 'F':'label-danger'}[message.authorGender]" class="label"><strong>{{message.authorName}}</strong></span></h4></div>
    <div ng-bind-html="message.messageBody"></div>
  </li>
</ul>

<a class="btn btn-warning" ng-show="vm.post.currentPages < vm.post.totalPages" ui-sref='post({messageId: vm.post.messageId, page: vm.post.currentPages + 1})'>Next</a>
