img {
  max-width: 90%; 
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

blockquote {
  font-size: inherit;
  margin-bottom: 10px;
  padding: 10px 15px;
}

#bs-example-navbar-collapse-1 > div {
  margin-top: 15px;
}

.small-font {
  font-size: 8px;
}

.normal-font {
  font-size: 14px;
}

.big-font {
  font-size: 24px;
}

.ultra-font {
  font-size: 34px;
}

.weak-text {
  color: #a3a3a3;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
.youtubePreview {
  width:560px;
  height:315px;
}