<div class="page-header">

  <div class="row">
    <div class="col-md-8">
      <ol class="visible-md visible-lg breadcrumb">
        <li><a href='http://forum.hkgolden.com/view.aspx?type=BW&message={{vm.post.messageId}}&page={{vm.post.currentPages}}' target="_blank">原 Post </a></li>
        <li><a ui-sref='topics({channel: "BW"})'>主頁</a></li>
        <li><a ui-sref='topics({channel: vm.lastChannel})'>{{vm.channelDisplayName}}</a></li>
        <li>{{vm.post.messageTitle}}</li>
      </ol>
    </div>
    <div class="col-md-4 text-right">
      <!-- Font -->
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-sm" ng-click="setFontClass('small-font')">細</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="setFontClass('normal-font')">正常</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="setFontClass('big-font')">大</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="setFontClass('ultra-font')">超大</button>
      </div>
    </div>
  </div>

  <h2 class="visible-md visible-lg">
    {{vm.post.messageTitle}}
    <span class="badge badge-success">Good: {{vm.post.ratingGood}}</span>
    <span class="badge badge-error">Bad: {{vm.post.ratingBad}}</span>
  </h2>
  <h4 class="visible-xs visible-sm">
    {{vm.post.messageTitle}}
    <span class="badge badge-success">Good: {{vm.post.ratingGood}}</span>
    <span class="badge badge-error">Bad: {{vm.post.ratingBad}}</span>
  </h4>
</div>

<ul class="list-group" ng-init="fontClass='normal-font'">
  <li class="list-group-item" ng-repeat="message in vm.post.messages">

    <div class="row">
      <div class="col-md-8">
        <h4>
          <span ng-class="{'M':'label-primary', 'F':'label-danger'}[message.authorGender]" class="label">
            <strong>{{message.authorName}}</strong>
          </span>
        </h4>
      </div>
      <div class="col-md-4">
        <p class="text-right weak-text">{{message.replyDateStr}}</p>
      </div>
    </div>

    <div ng-class="getFontClass()" ng-bind-html="message.messageBody"></div>
  </li>
</ul>

<div class="text-center">
  <uib-pagination boundary-links="true" max-size="6" items-per-page="1" total-items="vm.post.totalPages" ng-model="vm.post.currentPages" class="pagination-sm" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
</div>
