<div class="panel panel-default">
  <div class="panel-body">
    <uib-tabset justified="true">
      <uib-tab heading="{{channelDisplayName}}">
        <!-- main -->
        <table class="table table-striped">
        <tr>
          <th class="text-nowrap">評分</th>
          <th class="text-nowrap">題目</th>
          <th class="text-nowrap visible-md visible-lg">作者</th>
          <th class="text-nowrap">回覆</th>
          <th class="text-nowrap hidden-xs">最後回覆</th>
        </tr>
        <tr ng-repeat="topic in topics">
          <td class="rating" ng-style="{'color': topic.color}">{{topic.rating}}</td>
          <td>
            <a ui-sref='post({messageId: topic.messageId, lastChannel: channelCodeName})'>{{topic.messageTitle}}</a>
            <span ng-hide="hideAuthor || topic.pages.length == 1" ng-hide="topic.pages.length == 1" ng-repeat="page in topic.pages">
              <a ui-sref='post({messageId: topic.messageId, page: page, lastChannel: channelCodeName})'>[{{page}}]</a>
            </span>
          </td>
          <td class="visible-md visible-lg">{{topic.authorName}}</td>
          <td>{{topic.totalReplies}}</td>
          <td class="hidden-xs">{{topic.lastReplyDateString}}</td>
        </tr>
        </table>

        <div class="text-center">
          <uib-pagination max-size="5" total-items="100" ng-model="vm.currPage" items-per-page="1" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
        <!-- end main -->
      </uib-tab>

      <uib-tab heading="轉台">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="channel in channels"><a ui-sref='topics({channel:channel.c})'><p class="text-center">{{channel.d}}</p></a></li>
        </ul>
      </uib-tab>
      <uib-tab heading="歷史">
        <div ng-show="vm.history.length == 0" class="jumbotron"><h4>無歷史喎，不如去睇下post先啦？</h4></div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="history in vm.history"><a ui-sref='post({messageId:history.id})'><p class="text-center">{{history.title}}</p></a></li>
          <li class="list-group-item" ng-hide="vm.history.length == 0">
            <p class="text-center">
               <button type="button" class="btn btn-info btn-sm" ng-click="vm.purgeHistory()">清晒佢</button>
            </p>
          </li>
        </ul>
      </uib-tab>
    </uib-tabset>

  </div>
  <div class="panel-footer">
    <a ui-sref="about()">About</a>
    <a ui-sref="faq()">FAQ</a>
  </div>
</div>
