<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">{{channelDisplayName}}</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">轉台<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="channel in channels"><a ui-sref='topics({channel:channel.c})'>{{channel.d}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<table class="table table-striped">
<tr>
  <th>評分</th>
  <th>題目</th>
  <th ng-hide="hideAuthor">作者</th>
  <th>回覆</th>
  <th ng-hide="hideReplyTime">最後回覆</th>
</tr>
<tr ng-repeat="topic in topics">
  <td class="rating" ng-style="{'color': topic.color}">{{topic.rating}}</td>
  <td>
    <a ui-sref='post({messageId: topic.messageId, lastChannel: channelCodeName})'>{{topic.messageTitle}}</a>
    <span ng-hide="hideAuthor" ng-repeat="page in topic.pages">
      <a ui-sref='post({messageId: topic.messageId, page: page, lastChannel: channelCodeName})'>[{{page}}]</a>
    </span>
  </td>
  <td ng-hide="hideAuthor">{{topic.authorName}}</td>
  <td>{{topic.totalReplies}}</td>
  <td ng-hide="hideReplyTime">{{topic.lastReplyDateString}}</td>
</tr>
</table>
<nav>
  <ul class="pagination">
    <li ng-hide="hidePrev">
      <a ui-sref='topics({channel: channelCodeName, page: prevPage})' aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="p in paginationA"><a ui-sref='topics({channel: channelCodeName, page: p})'>{{p}}</a></li>
    <li>
      <a ui-sref='topics({channel: channelCodeName, page: nextPage})' aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>