<!DOCTYPE html>
<html ng-app="hkgApp">
  <head>
    <meta charset="utf-8">
    <title>HKG Cache v1.0</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="@routes.Assets.at("/public", "css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/public", "css/main.css")">
  </head>
  <body>

    <main ui-view="" class="container ng-scope"><main>
  </body>
  <script type="text/javascript" src="@routes.Assets.at("/public", "js/angular.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("/public", "js/angular-sanitize.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("/public", "js/angular-animate.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("/public", "js/angular-ui-router.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("/public", "js/app.js")"></script>
</html>
